In [70]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error as mae
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [82]:
data = pd.read_csv("Data/Raw.csv")
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [83]:
type_counts =  data.dtypes.value_counts()
print(type_counts)

object     43
int64      35
float64     3
dtype: int64

In [84]:
column_types = data.dtypes
unique_types = column_types.unique()

nan_counts = data.isna().sum()

for dtype in unique_types:
    count = 0
    columns_of_type = column_types[column_types == dtype].index
    for column in columns_of_type:
        if data[column].isna().any():
            count += 1
    print(f"{dtype}   {count}")

int64   0
object   16
float64   3

In [85]:
#Bỏ cột id
data.drop(["Id"], axis = 1, inplace = True)

In [86]:
#Tách dữ liệu gốc ra thành kiểu dữ liệu chữ và số để tiện xử lý
numerical_column = data.select_dtypes(exclude = object).columns.tolist()[:-1]

string_column = data.select_dtypes(include='object').columns.tolist()

In [87]:
#Xử lý giá trị NaN ở các cột số
for column in numerical_column:
    data[column] = data[column].fillna(data[column].mean())

In [88]:
#Xử lý giá trị NaN ở cột chữ và label lại data
for column in string_column:
    data[column] = LabelEncoder().fit_transform(data[column])

In [89]:
data

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,3,65.0,8450,1,2,3,3,0,4,...,0,3,4,4,0,2,2008,8,4,208500
1,20,3,80.0,9600,1,2,3,3,0,2,...,0,3,4,4,0,5,2007,8,4,181500
2,60,3,68.0,11250,1,2,0,3,0,4,...,0,3,4,4,0,9,2008,8,4,223500
3,70,3,60.0,9550,1,2,0,3,0,0,...,0,3,4,4,0,2,2006,8,0,140000
4,60,3,84.0,14260,1,2,0,3,0,2,...,0,3,4,4,0,12,2008,8,4,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,3,62.0,7917,1,2,3,3,0,4,...,0,3,4,4,0,8,2007,8,4,175000
1456,20,3,85.0,13175,1,2,3,3,0,4,...,0,3,2,4,0,2,2010,8,4,210000
1457,70,3,66.0,9042,1,2,3,3,0,4,...,0,3,0,2,2500,5,2010,8,4,266500
1458,20,3,68.0,9717,1,2,3,3,0,4,...,0,3,4,4,0,4,2010,8,4,142125
1459,20,3,75.0,9937,1,2,3,3,0,4,...,0,3,4,4,0,6,2008,8,4,147500

In [92]:
data.to_csv('Data/Pre-Processing-v0.1.csv', index=False)